@import "variables.css";

.smart-padding {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/*
// Side banner:
*/
#banner {
  /*background: url(bgbanner.png);*/
  background-color: rgb(38, 41, 44);
  color: rgb(255, 255, 255);
  top: 100%;
  padding: 10px;
  text-align: right;
  /*box-shadow: 5px 5px 20px #000;*/
}

#banner hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#aboutlink a {
  color: #888888;
}

.searchtextbox {
  width: 100%;
  background-color: rgb(54, 59, 63);
  height: 1.5em;
  text-align: right;
}

#commentform input[type=text] {
  background-color: rgb(255, 255, 255);
}
#commentform input[type=text]:focus,
#commentform input[type=email]:focus,
#commentform textarea:focus {
  color: rgb(54, 59, 63);
}

input[type=text] {
}
.searchtextbox:focus {
  color: #fff;
}

/* ACCORDION MENU STUFF */
.accordion {
  text-align: right;
  list-style:none;
}

.accordion ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.tab {
  width: 100%;
  color: #536878;
}

.tab a{
  color: rgb(194, 196, 197);
}

.tab [type=radio] {
  display: none;
}

#banner a:hover,
.accordion .tab label:hover,
.accordion .tab .selected {
  color: rgb(225, 77, 67);
}

/* Unchecked label style */
.accordion .tab label {
  color: rgb(255, 255, 255);
  display: block;
  padding: 5px;
  padding-bottom: 1px;
  border-width: 1px;
  border-bottom-style: solid;
  font-size: 18px;

  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

/* Checked label style */
.accordion input:checked ~ label {
  border-color: rgb(225, 77, 67);
  color: rgb(225, 77, 67);
}


/* default for the content is not shown */
.accordion .tabcontent {
  padding-right: 5px;
  font-size: 14px;
  border-width: 1px;
  border-right-style: solid;
  border-color: rgb(225, 77, 67);
}

.expandsection {
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space:nowrap;
}

input[type=radio]:checked ~ .expandsection {
  display: block;
}

/* Menu Expanding Div */
.expandable {
  list-style:none;
}

.inverseexpandsection {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space:nowrap;
}

input[type=radio]:checked ~ .inverseexpandsection {
  display: none;
}

/* Wide screens above 1280px */
@media only screen and (min-width: $wide_screen_width) {

  /* Resposition the middle and sidebar */
  .middle {
    width: 765px;
    left: 50%;
    margin-left: -300px;
  }
  .center-column {
    left: 50px;
    right: 0px;
  }

  #banner-wrapper {
    position: fixed;
    width: 0px;
    left: 50%;
    height: 100%;
    bottom: 100%;
    z-index: 1500;
  }

  #banner {
    height: 100%;
    position: absolute;
    width: $banner_width;
    right: calc($main_column_width/2);
  }

  /* When showing full sidebar, don't show the menu hide/show buttons */
  .inverseexpandsection{
    display: none;
  }

  /* Also, show the menu full by default */
  #mainmenu {
    display: block;
  }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: calc($wide_screen_width - 1px)) {
  .middle {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 10px 0px 10px;
  }

  .center-column {
    width:100%;
  }

  .site-footer {
    padding-bottom: 0px;
  }

  #banner-wrapper {
    width: 100%;
  }

  #banner {
    position: relative;
    width: 100%;
    right: auto;
  }

  .side-title{
    font-size: 1em;
    line-height: 1.5em;
  }
}
